# Mark vendored files as having been vendored.
assets/css/bootstrap.min.css linguist-vendored
assets/css/animate.min.css linguist-vendored
assets/css/vegas.css linguist-vendored
assets/js/*.min.js linguist-vendored
assets/js/common_scripts_min.js linguist-vendored
