<section class="promo_full bnbs">
  <div class="promo_full_wp">
    <div>
      <h3>
        Ce que nos clients disent
        <span>Derniers commentaires d'Airbnb</span>
      </h3>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="carousel_testimonials">
              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("bnbs/testimonials/avatar2.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Laetitia<small>Mai 2022</small></h4>
                  </div>
                  <div class="comment">
                    <br>"Emplacement idéal à carpentras, à proximité de tout!!! Petit déjeuner parfait avec jus de fruits café thé viennoiseries et pain frais!!! Des hôtes à l’écoute et une ambiance familiale et chaleureuse règnent dans ce lieu de vie."<br><br>
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("bnbs/testimonials/testimonial-2.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Denis<small>Août 2021</small></h4>
                  </div>
                  <div class="comment">
                    "Premières vacances à 3 avec notre fils de 4 mois et séjour idyllique !! Le logement était très bien équipé, propreté irréprochable, de bons petits déjeuners copieux tous les matins, barbecue privatif sur terrasse donnant sur la piscine... Gros plus pour la clim, indispensable avec ces fortes chaleurs. Emmanuelle et son mari ont été très disponibles et sympathiques. Nous reviendrons sans hésiter !"
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("bnbs/testimonials/testimonial-3.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Chloé<small>Août 2021</small></h4>
                  </div>
                  <div class="comment">
                    "Emmanuelle et Romain sont de supers hôtes, à la fois discret et aux petits soins durant tout le séjour. Le studio est spacieux et très fonctionnel. Idéalement situé pour découvrir la région. Le plus, un petit déjeuner gourmand servi chaque matin avec le sourire qui fût fortement apprécié."
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
