/*============================================================================================*/
/* Responsive */
/*============================================================================================*/

@media (min-width: 992px) and (max-width: 1200px) {
	#sub_content h1{font-size:50px;}
}
@media (max-width: 1024px){
	.promo_full {
		background-attachment:scroll;
	}
}
@media (max-width: 991px) {
	ul#lang_top{ margin-right:45px;}
	#sub_content{padding:0 60px;}
	#sub_content h1{font-size:42px;}
	.room_pic span, .room_pic.left span{
		position:absolute;
		bottom:0;
		left:0;
	}
}
/* Tablet*/
@media (max-width: 768px) {
	#sub_content h1{ font-size:42px;}
	.room_desc_home.left h3{
		margin-top:0;
		padding-top:0;
	}
	.room_desc_home.left {
		padding-bottom:60px;
	}
	.mosaic_container .caption_2{font-size:14px;}
}

/* Mobile Landscape */
@media (max-width: 767px) {
	h1.main_title,h2.main_title {font-size:32px;}
	h1.main_title span, h2.main_title span {font-size:18px;}

	h3.caption_header{letter-spacing:0; font-size: 28px; margin-bottom:15px; padding:10px 20px;}

	h3.main_title {font-size:26px; margin-bottom:30px}
	h3.main_title span {font-size:16px;}
	p.lead.styled { font-size:16px;}
	.promo_full_wp div h3{font-size:28px;}
	.promo_full_wp div h3 span{font-size:16px;}

	#sub_content{padding:0 10px;}

	/* Margin tools */
	.margin_60 {padding-top:30px; padding-bottom:30px;}
	.margin_30 {margin-top:15px; margin-bottom:15px;}
	.margin_60_35{padding-top:30px; padding-bottom:0;}
	.add_bottom_60 {margin-bottom:30px;}

	.room_desc_home.left {
		padding-bottom:30px;
	}

	#logo img{height:30px;}

	#map {
		width:100%;
		height:300px;
	}
	.promo_full_wp, .promo_full_wp > div{
		display: block;
	}
	.box_overlay{
		padding:25px;
		text-align:center;
	}
	.pic{
		position:static;
		margin-bottom:25px;
		width:100%;
		display:block;
	}
	.pic h4{
		position:static;
	}
	.pic figure{
		margin:auto;
	}
	.comment{
		border-left:none;
		padding-left:0;
		padding-top:30px;
	}
}

/* Mobile Portrait */
@media (max-width: 480px) {
	h3.caption_header{letter-spacing:0; font-size: 20px; margin-bottom:10px; padding:8px 15px;}
	a.btn_slider{ font-size:13px;}

	h1.main_title,h2.main_title {font-size:24px;}
	h1.main_title span, h2.main_title span {font-size:18px;}

	p.lead.styled { font-size:16px;}

	div.col-sm-2 img.img-responsive { max-width:60%; }
}
