<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <figure class="room_pic">
          <a href="#">
            <%= image_tag("villa/villa-chambre-1.jpg", class: "img-responsive") %>
          </a>
          <span class="wow zoomIn">3<small>Chambres</small></span>
        </figure>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="room_desc_home">
          <h3>Les Chambres</h3>
          <p>
            Le gîte dispose de 3 grandes chambres avec pour chacune WC et salle de bain indépendants.
          <p>
            Un lit de 160cms, une amoire avec penderie ainsi que la climatisation personnelle.
          </p>
          <p>
            Draps et serviettes fournis.
          </p>
          <ul>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon-snow"></i></span>
                <div class="tooltip-content">
                  Climatisation individuelle
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-104"></i></span>
                <div class="tooltip-content">
                  Grand lit double 160 cms
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-118"></i></span>
                <div class="tooltip-content">
                  Salle de bain et WC indépendants
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_2_icon-103"></i></span>
                <div class="tooltip-content">
                  Armoire et penderie
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                <div class="tooltip-content">
                  Wifi gratuit
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin_60">
  <div class="row">
    <div class="col-md-5 col-md-offset-1 col-md-push-5">
      <figure class="room_pic left">
        <a href="#">
          <%= image_tag("villa/villa-salon.jpg", class: "img-responsive") %>
        </a>
        <!--<span class="wow zoomIn"><sup>$</sup>150<small>Per night</small></span>-->
      </figure>
    </div>
    <div class="col-md-4 col-md-offset-1 col-md-pull-6">
      <div class="room_desc_home">
        <h3>Le Salon</h3>
        <p>
          Le salon contient un canapé et est climatisé.
        </p>
        <p>
          Une TV et des jeux enfants sont aussi présents.
        </p>
        <ul>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon-snow"></i></span>
              <div class="tooltip-content">
                Climatisation
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_2_icon-116"></i></span>
              <div class="tooltip-content">
                Télévision
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class=" icon_set_2_icon-112"></i></span>
              <div class="tooltip-content">
                Canapé convertible (2 pers)
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
              <div class="tooltip-content">
                Wifi
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container_styled_1">
  <div class="container margin_60">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <figure class="room_pic">
        <a href="#">
          <%= image_tag("villa/villa-cuisine.jpg", class: "img-responsive") %>
        </a>
        <!--<span class="wow zoomIn"><sup>$</sup>190<small>Per night</small></span>-->
        </figure>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <div class="room_desc_home">
          <h3>La Cuisine</h3>
          <p>
            La cuisine est équipée et contient tout le nécessaire pour 6 personnes.
            Plats & casseroles, assiettes & couverts, ustensiles de cuisine.
          </p>
          <p>
            Frigo, four, micro ondes, machine à café, bouilloire ainsi au'un lave vaisselle sont aussi sur place.
          </p>
          <ul>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon-snow"></i></span>
                <div class="tooltip-content">
                  Climatisation
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-58"></i></span>
                <div class="tooltip-content">
                  Plats & Ustensiles de cuisine
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-59"></i></span>
                <div class="tooltip-content">
                  Machine à café & Bouilloire
                </div>
              </div>
            </li>
            <li>
              <div class="tooltip_styled tooltip-effect-4">
                <span class="tooltip-item"><i class="icon_set_1_icon-86"></i></span>
                <div class="tooltip-content">
                  Wifi
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
