<section class="promo_full">
  <div class="promo_full_wp">
    <div>
      <h3>Ce que nos clients disent<span>Derniers commentaires d'Airbnb</span></h3>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="carousel_testimonials">
              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("villa/testimonial_1.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Mathieu<small>Juin 2022</small></h4>
                  </div>
                  <div class="comment">
                    <br>"À peine le portail franchi que l’on se sent directement bien et en vacances !"<br><br>
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("villa/testimonial_2.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Denis<small>Juin 2022</small></h4>
                  </div>
                  <div class="comment">
                    "Excellent séjour dans cette maison propre et fonctionnelle. Belle piscine et tout ce qu'il faut pour passer un bon séjour, nous avons également apprécié que chaque chambre dispose de sa salle de bains et wc ce qui permet de garder son indépendance. Hôtes accueillants et disponibles. En résumé le top à conseiller!"
                  </div>
                </div>
              </div>

              <div>
                <div class="box_overlay">
                  <div class="pic">
                    <figure>
                      <%= image_tag("villa/testimonial_3.jpg", class: "img-circle") %>
                    </figure>
                    <h4>Davy<small>Juin 2021</small></h4>
                  </div>
                  <div class="comment">
                    "Très agréable séjour, hôte très accueillant et sympathique. Logement idéal et conforme aux descriptions, 3 grandes chambres avec salle de bain et extérieur parfait pour partager. Merci!"
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
