<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <%= image_tag("logo/logo.png", size: "230x64", id: "logo_footer", data: { retina: true }) %>

        <ul id="contact_details_footer">
          <li>
            <i class="icon-location-2"></i>
            26 Chemin traversier de Lira<br>
            84200 Carpentras<br>
            France
          </li>
          <li>
            <i class="icon-phone-2"></i>
            <a href="tel://+33679067407">+33 6 79 06 74 07</a>
          </li>
          <li>
            <i class="icon-email"></i>
            <a href="#0">giteslescelestins@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4">
        <h3>A propos de l'hôte</h3>
        <figure>
          <%= image_tag("emmanuelle2.jpg", class: "img-circle", size: "100x100") %>
        </figure>
        <ul>
          <li>Emmanuelle Pourcher</li>
          <li>
            <div class="rating">
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
              <i class="icon-star"></i>
            </div>
          </li>
          <li>
            Hôte depuis 2016<br>
            Superhote sur Airbnb
          </li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4">
        <h3>About</h3>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Rooms</a></li>
          <li><a href="#">Activities</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Gallery</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4" id="newsletter">
        <h3>Les annonces</h3>
        <ul>
          <li><a href="https://www.airbnb.fr/rooms/47841085" target="_blank">Voir l'annonce sur Airbnb</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="social_footer">
          <p>© Gites Les Célestins <%= Date.today.year %></p>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="toTop"></div>
